# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CI Build

on:
  push:

  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    # Build DFCommonLib
    - name: Lib - Restore dependencies
      run: dotnet restore DFCommonLib/DFCommonLib.csproj
    - name: Lib - Build
      run: dotnet build DFCommonLib/DFCommonLib.csproj --no-restore --configuration Release

    # Run Unittests
    - name: Test Build
      run: dotnet build DFCommonLib.Unittests/DFCommonLib.Unittests.csproj --configuration Release
    - name: Test Run
      run: dotnet test --no-build --verbosity normal --configuration Release
